---
http_interactions:
- request:
    method: get
    uri: https://graph.facebook.com/me/movies?access_token=CAALBlziETAYBAAhOerbeSJ187pLVSfDQUlnZAaTL4RDbbSpnahlGO2ZADDaqUkRZAOozRmiC2DUq6wJBbywEIlG1WOkQZBim8BClpYJwywNZAE5fAa4J9ooDsaG8ILXDLxppZB73fbOBjJ6RxsAjmfXrZBY8KYHPWfr8BJUH1T7qjyizkCUfyp0ZBlm6uNoB2wboKjIhrohkjZAJaZBcadbriiXVhezBBdgZBcXCgH8ST8mxrqEqD1QAFZB7
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Etag:
      - "\"abf808a7a2b402371e667f9ec70948e4c22676f0\""
      Facebook-Api-Version:
      - v2.2
    body:
      encoding: UTF-8
      string: "{\"data\":[{\"category\":\"Movie\",\"name\":\"Superman vs. The Elite\",\"id\":\"110635222387355\",\"created_time\":\"2015-04-12T05:13:00+0000\"},{\"category\":\"Movie\",\"name\":\"The
        Transporter\",\"id\":\"792619774128590\",\"created_time\":\"2015-02-23T21:56:31+0000\"},{\"category\":\"Movie\",\"name\":\"The
        Robert Langdon Series (Inferno, Da Vinci Code, Angels and Demons)\",\"id\":\"362436247253412\",\"created_time\":\"2014-12-19T16:45:26+0000\"},{\"category\":\"Movie\",\"name\":\"Ice
        Age Movies\",\"id\":\"129577537128630\",\"created_time\":\"2014-08-18T21:57:29+0000\"},{\"category\":\"Media\\/news\\/publishing\",\"category_list\":[{\"id\":\"2233\",\"name\":\"Media\\/News\\/Publishing\"}],\"name\":\"Filmygyan\",\"id\":\"334718749959224\",\"created_time\":\"2014-06-19T05:06:07+0000\"},{\"category\":\"Movie\",\"name\":\"The
        Internship\",\"id\":\"351655284898721\",\"created_time\":\"2014-02-19T09:29:44+0000\"},{\"category\":\"Movie\",\"name\":\"The
        Second Circle\",\"id\":\"230825710387560\",\"created_time\":\"2013-02-07T13:49:03+0000\"},{\"category\":\"Movie\",\"name\":\"Guns,
        Girls and Gambling the Movie\",\"id\":\"445269125535034\",\"created_time\":\"2013-02-07T05:39:10+0000\"},{\"category\":\"Movie\",\"name\":\"Untitled
        Batman Project (2011)\",\"id\":\"110938028945139\",\"created_time\":\"2012-08-11T08:00:19+0000\"},{\"category\":\"Movie\",\"name\":\"Pyar
        Ka Punchnama\",\"id\":\"204519969569580\",\"created_time\":\"2012-07-05T06:21:59+0000\"},{\"category\":\"Movie\",\"name\":\"Ice
        Age: Continental Drift (2012)\",\"id\":\"116239778420951\",\"created_time\":\"2012-06-15T08:43:25+0000\"},{\"category\":\"Movie\",\"name\":\"Ice
        Age 4\",\"id\":\"251072531576389\",\"created_time\":\"2012-06-13T04:09:51+0000\"},{\"category\":\"Movie\",\"name\":\"Men
        In Black 3\",\"id\":\"343655272338275\",\"created_time\":\"2012-06-13T04:07:29+0000\"},{\"category\":\"Movie\",\"name\":\"Prometheus\",\"id\":\"319196071428582\",\"created_time\":\"2012-06-13T04:05:21+0000\"},{\"category\"[...]
