---
http_interactions:
- request:
    method: get
    uri: http://www.omdbapi.com/?t=Terminator&year=
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Last-Modified:
      - Mon, 13 Apr 2015 18:07:43 GMT
    body:
      encoding: UTF-8
      string: "{\"Title\":\"Terminator\",\"Year\":\"2001\",\"Rated\":\"N/A\",\"Released\":\"1
        Apr 2001\",\"Runtime\":\"N/A\",\"Genre\":\"Short, Action\",\"Director\":\"Ryan
        McDonald\",\"Writer\":\"Ryan McDonald\",\"Actors\":\"Joshua Miller\",\"Plot\":\"N/A\",\"Language\":\"English\",\"Country\":\"USA\",\"Awards\":\"N/A\",\"Poster\":\"N/A\",\"Metascore\":\"N/A\",\"imdbRating\":\"3.8\",\"imdbVotes\":\"12\",\"imdbID\":\"tt1994570\",\"Type\":\"movie\",\"Response\":\"True\"}"
  recorded_at: Mon, 13 Apr 2015 18:06:57 GMT
recorded_with: VCR 2.9.3
